@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
*,
*::before,
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
html
{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
    
}
a
{
    text-decoration: none;
}

.container
{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
/*header*/
header
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}
.nav
{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-toggle
{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}
.fa-times
{
    display: none;
}

/*navigacija*/
.nav-list
{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
    
}
.nav::before
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
/*otvaranje menija*/
.open .fa-times
{
    display: block;
}
.open .fa-bars
{
    display: none;
}
.open .nav-list
{
    transform: translateX(0);
}
.open .nav::before
{
    opacity: 1;
    transform: scale(1);
}
/*nastavak navigacije*/
.nav-item
{
    border-bottom: 2px solid rgba(255,255,255, .3);
}
.nav-link
{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5;
}
.nav-link:hover
{
    color: var(--secondary-font-color);
}
#bod
{
    background-image: url(../img/under.jpg);
    background-size: cover;
    background-position: center;
}
.table
{
    position: relative;
    margin-left: 8%;
    margin-top: 15%;
    margin-right: 90%;
    margin-bottom: 20%;
    background-color: rgba(0,0,0, 0.4);
    padding: 50px 10px;
    width: 80%;
    height: 100%;
}
input
{
    height: 30px;
    color: blue;
    font-size: 20px;
    padding-left: 20px;
    font-family: var(--main-font);
   
}
.item
{
    padding-bottom: 30px;
    padding-left: 10%;
    padding-top: 5%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--main-font);
    color: #d6c41e;
}
.box
{
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 5%;
    
}
.button
{
    position: absolute;
    width: 60%;
    height: 8%;
    align-content: center;
    margin-left: 15%;
    background-color: #0565ff;
    font-size: 20px;
    font-weight: bolder;
    color: #002c73;
}
.greska 
{
    font-size: 15px;
    color: red;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    align-content: center;
}
.drugicontainer
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url("../img/under.jpeg");
    background-size: cover;
    background-position: center;
}
.table2
{
    margin-top: 30%;
    margin-left: 8%;
}
.local, .session
{
    padding-top: 5%;
    padding-bottom: 4%;
}
.lab
{
    font-size: 17px;
    font-weight: bolder;
    color:#fff71c;
    background-color: rgba(0, 0, 0, .6);
    align-content: center;
    vertical-align: middle;
}
.btn
{
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    color: yellow;
}
@media screen and (min-width: 900px)
{
    section
    {
        padding: 7.9rem;
    }
    .menu-toggle
    {
        display: none;
    }
    .nav
    {
        justify-content: space-between;
    }
    .nav-list
    {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item
    {
        margin: 0 2.4rem;
        border: none;
    }
    .nav-item:last-child
    {
        margin-right: 0;
    }
    .nav-link
    {
        font-size: 1.3rem;
    }
    .active
    {
        position: relative;
        padding: 0px;
    }
    .active::before
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
        padding: 0px;
    }
    #bod
    {
        background-image: url(../img/under.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .table
    {
        margin-left: 10%;
        margin-top: 7%;
    }
    input
    {
        height: 40px;
        font-size: 30px;
        padding-left: 15%;
        width: 60%;
    }
    .item
    {
        padding-bottom: 30px;
        padding-left: 7%;
        padding-top: 3%;
        font-size: 30px;
    }
    .box
    {
        padding-bottom: 20px;
        padding-left: 10px;
        padding-top: 2%;
    }
    .button
    {
        height: 6%;
        font-size: 25px;
    }
    .greska 
    {
        font-size: 20px;
        margin-left:5px;
        font-weight: bold;
        letter-spacing: 3px;
    }
    #bod2
    {
        background-image: url(../img/under.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .table2
    {
        margin-top: 15%;
        margin-left: 15%;
    }
    .local, .session
    {
        padding-top: 8%;
        padding-bottom: 7%;
    }
    .lab
    {
        font-size: 20px;
    }
    .btn
    {
        font-size: 15px;
    }
}